# 1st Program = Hello World !

In [1]:
print("Hello World")

Hello World

# Variable

In [2]:
name = "Neha"
age = "20"
print(name)
print(age)

Neha
20

###1.String

In [3]:
Surname = "Thakur"
print(Surname)

Thakur

###2.Integer

In [4]:
age = "20"
print(age)

20

###3.Floating

In [5]:
age = 24.0
print(age)

24.0

###4.Boolean

In [6]:
age = 20
is_adult = True
print(age)
print(is_adult)

20
True

# Input

In [8]:
name = input("What is your name?")
print(name)

What is your name? Neha

Neha

# Concatenation

In [9]:
name = input("What is your name?")
print( " Hello" + name)

What is your name? neha

 Helloneha

# Type Conversion

In [10]:
old_age = input("enter your old age : ")
new_age = int(old_age) + 2
print(new_age)

enter your old age :  20

22

In [11]:
first = input("enter first number : ")
second = input("enter second number : ")
sum = int(first) + int(second)
print(sum)

enter first number :  12
enter second number :  3

15

# String

In [12]:
name = "Neha Thakur"
print(name.upper())

NEHA THAKUR

In [13]:
name = "Neha Thakur"
print(name.lower())

neha thakur

In [18]:
name = "Neha"
print(name.replace("Neha", "Tanushri"))

Tanushri

In [19]:
name = "Neha Thakur"
print(name.find('T'))

5

# Keywords

In [20]:
name = "Neha"
print('N' in name)

True

# Arithmetic Operators

In [21]:
print(5+1)

6

In [22]:
print(5-1)

4

In [23]:
print(5*2)

10

In [24]:
print(10/2)

5.0

In [25]:
print(10//2)

5

In [26]:
print(5 % 2)

1

In [27]:
print(5 ** 2)

25

# Shortcuts

In [29]:
i = 5
i += 2
i -= 2
i *= 2

# Operator Precedence

In [30]:
result = 2 + 3 * 5
print(result)

17

# Comparison Operator

In [31]:
print(3>2)

True

In [32]:
print(3<2)

False

In [34]:
print (3>=2)

True

In [35]:
print(3 == 2)

False

In [36]:
print(3 != 2)

True

# Logical Operator

### 1.OR operator

In [37]:
print(2 > 3 or 2 > 1)

True

### 2. AND operator

In [39]:
print(3>2 and 2>1)

True

### 3. NOT operator

In [40]:
print( not 2>3 )

True

# If-else Statement

In [41]:
age = 19

if age >= 18:
    print("You are an adult")
    print("You can Vote")

print("thank you")

You are an adult
You can Vote
thank you

In [42]:
age = 16

if age >= 18:
    print("You are an adult")
    print("You can Vote")
elif age < 18 and age > 3:
    print("You are in school")
else:
    print("You are a child")
print("thank you")

You are in school
thank you

# Mini Project

In [44]:
first = input("enter first number :")
operator = input("enter operator (+,-,*,%) : ")
second = input("enter second number : ")

first = int(first)
second = int(second)

if operator == "+":
    print(first + second)
elif operator == "-" :
    print(first - second)
elif operator == "*" :
    print(first * second)
elif operator == "%" :
    print(first % second)  
else:
    print("Innvalid Operation")

enter first number : 2
enter operator (+,-,*,%) :  *
enter second number :  2

4

# Range

In [45]:
numbers = range(5)
print(numbers)

range(0, 5)

# Loops

In [49]:

i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [50]:
i = 1
while i <= 5:
    print(i * "*")
    i = i + 1

*
**
***
****
*****

In [51]:
for item in range(5):
    print(item + 1)

1
2
3
4
5

# List

In [52]:
marks = [92, 95, 99]
print(marks)

[92, 95, 99]

In [53]:
marks = [92, 95, 99]
print(marks[-1])

99

In [54]:
marks = [92, 95, 99]
print(marks[1:3])

[95, 99]

In [55]:
marks = [95, 98, 97]

for score in marks:
    print(score)

95
98
97

In [56]:
marks = [95, 98, 97]

marks.append(99)

print(marks)

[95, 98, 97, 99]

In [57]:
marks = [95, 98, 97]
marks.insert(0, 99)
print(marks)

[99, 95, 98, 97]

In [58]:
marks = [95, 98, 97]
marks.insert(0, 99)
print(99 in marks)

True

In [59]:
marks = [95, 98, 97]
marks.insert(0, 99)
print(len(marks))

4

# Break & Continue

In [61]:
students = ["radha", "ram", "krishna", "radhika", "shyam"]
for student in students:
    if student == "radhika":
        break;
        print(student)

# Tuple

In [62]:
marks = (95, 98, 97)
print(marks.index(97))

2

# Set

In [63]:
marks = {95, 98, 97, 97, 97}
for score in marks:
    print(score)

97
98
95

# Dictionary

In [64]:
marks = {"english" : 95, "chemistry" : 98}
print(marks["chemistry"])

98

# Functions
#### 1. In-Built Function
#### 2. Module Function
#### 3. User-Defined Function

In [69]:
def print_sum(first , second):
    print(first + second)

print_sum(1, 2)

3

In [70]:
def print_sum(first , second):
    print(first * second)

print_sum(3, 2)

6

In [73]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3